/* for NavigationBar */
/* for NavigationBar */
/* for NavigationBar */
/* for NavigationBar */

#navbar {
}

#nav-nav-links-container {
}

.logo {
  color: white;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  font-size: 2rem;
  font-weight: 900;
}

.about {
  color: white;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  font-size: 1rem;
  font-weight: 900;
}

/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
