.project-card {
  flex-basis: 45%;
  gap: 0.2rem;
  text-align: center;
  background-color: darkcyan;
}

/* Stack the cards vertically on small screens */
@media (max-width: 991px) {
  .project-card {
    flex-basis: 100%; /* Full width on small screens */
  }
}

.project-card-body {
  border: 0.5rem solid white;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-card-body h2 {
  color: white;
  font-weight: 900;
}

.project-card-body .card-text {
}

#project-image {
}
