body h1 {
  font-size: 5rem;
  font-weight: 900;
}

.paragraph {
  font-size: 2rem;
  font-weight: 600;
}

#overview h1 {
  text-align: center;
}

.overview-content {
  margin: 2rem;
  display: flex;
  gap: 2rem;
}

.diagram {
  width: 60rem;
  margin-top: 2rem;
}

#case-study-container {
  border: 0.25rem solid white;
  display: flex;
  justify-content: space-evenly;
}

#case-study {
  display: flex;
  flex: 4;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

#case-study h1 {
  font-size: 4rem;
}

#case-study .project-name {
  color: red;
  font-size: 8rem;
}

.images-border-container img {
  max-width: 100%; /* Ensures images do not exceed the container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures images fill the available space */
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/

#objective {
  margin-top: 4rem;
}

#objective h1 {
  text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/

#challenge {
  margin-top: 4rem;
}
#challenge h1 {
  text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/

#solution h1 {
  text-align: center;
}

#tech-images {
  display: flex;
  justify-content: space-evenly;
}

#tech-images ul {
  font-size: 2rem;
}

#database {
  margin-top: 4rem;
}

.database-images {
  display: flex;
}

.database-images img {
  flex-basis: 40%;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/

#client-side {
  margin-top: 4rem;
}

#client-side ul {
  font-size: 2rem;
}

#client-side h1 {
  text-align: center;
}

.react-images {
  display: flex;
  justify-content: space-evenly;
}

.components-img {
  height: 200px;
}

.components-list {
  display: flex;
  flex-direction: column;
}

.images-lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.images-lists h4 {
  color: red;
}

.lists-parent-div {
  display: flex;
  gap: 1rem;
}

.lists-parent-div ul {
  margin-left: -14px;
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/

/* For final-thought div */
/* For final-thought div */
/* For final-thought-side div */
/* For final-thought- div */

#retrospective {
  margin-top: 4rem;
  min-height: 100vh;
}

#retrospective h1 {
  text-align: center;
  color: red;
}

.text-section span {
  color: red;
}
