#main-body-container {
  min-height: 100vh;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Skills section */
/* Skills section */
/* Skills section */
/* Skills section */

#h1-skills-projects-div {
}

#only-skills-projects-div {
  display: flex;
}

#skills-div {
  min-width: 40%; /* If the parent tries to make me smaller, it wont happen. I will always take 40% it's width */
  max-width: 40%;
}

#html-css-div {
  display: flex;
}

#left-side {
  flex-basis: 50%;
  font-size: 1rem;
}

#right-side {
  flex-basis: 50%;
  font-size: 1rem;
}

#javascript-react-div {
  display: flex;
}

#javascript-react-div h4 {
  margin-left: -2rem;
}

#left-ul {
  flex-basis: 50%;
  font-size: 1rem;
}

#right-ul {
  flex-basis: 50%;
  font-size: 1rem;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

#node-mongo-div {
  display: flex;
  gap: 1rem;
}

#left-list {
  flex-basis: 50%;
  font-size: 1rem;
}

#right-list {
  flex-basis: 50%;
  font-size: 1rem;
}

#node-mongo-div h4 {
  margin-left: -2rem;
}

#right-list h4 {
  padding-left: 1rem;
}

/* On up to medium screens (max-width: 991px), disable flex */
@media (max-width: 991px) {
  /* for javascript-react div */
  #javascript-react-div {
    display: block; /* Stack elements vertically */
  }

  #left-ul,
  #right-ul {
    width: 100%; /* Ensure full width */
  }

  #skills-div {
    max-width: 100%; /* Make it full width */
    width: 100%; /* Ensure it takes up the full container */
  }

  /* for node-mongo div */
  #node-mongo-div {
    display: block; /* Stack elements vertically */
  }

  #left-list,
  #right-list {
    width: 100%; /* Ensure full width */
  }

  /* for html-css div */
  #html-css-div {
    display: block; /* Stack elements vertically */
  }

  #left-side,
  #right-side {
    width: 100%; /* Ensure full width */
  }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

/* Projects section */
/* Projects section */
/* Projects section */
/* Projects section */
#projects-div {
  max-width: 60%;
  min-width: 60%;
}
